/* App.css */
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    background-image: url("./assets/login.jpg");
    background-size: cover;
}
/* Fixed Header */
.headerBar {
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    background-color: cornflowerblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.headerBar .title {
    font-size: 1.5rem;
    font-weight: bold;
}

.headerBar .menu-item {
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.headerBar .menu-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.logo{
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
    
}

.logo img{
    height: 50px;
    width: 40px;
    padding: 4px;
    margin-top: 5px;  
}
.menuIcon img{
    height: 40px;
    width: 40px;
    border-radius: 4px;
    margin-top: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


/* Main Content */
.home-content {
    padding: 150px;
    text-align: center;
    color: rgb(97, 169, 171);
}